bin/
obj/
*.suo
*/TestResults/*
*.testsettings
*.DotSettings.user
*.ReSharper.user
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.cache
Thumbs.db
*.bak
*.cache
*.log
*.swp
*.user
_compareTemp
_notes
aspnet_client
httpd.parse.errors
