<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net40" />
  <package id="fasterflect" version="2.1.3" targetFramework="net40" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net40" />
  <package id="SNAP" version="1.8.3" targetFramework="net40" />
  <package id="SNAP.Autofac" version="1.8.3" targetFramework="net40" />
</packages>